.button-like {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
    cursor: pointer;
}

.button-like-active {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}